<div class="mt-4 mb-4">

  <form [formGroup]="carsForm" class="mb-4">
    <div class="row">
      <div class="form-group col-3">
        <label for="tariffs">Data inicial:</label>
        <input type="date" class="form-control" formControlName="startDate">
      </div>

      <div class="form-group col-3">
        <label for="tariffs">Data final:</label>
        <input type="date" class="form-control" formControlName="endDate">
      </div>

      <div class="form-group col-3">
        <label for="tariffs">E-mail:</label>
        <input type="email" class="form-control" placeholder="email@email.com" formControlName="email">
      </div>

      <div class="form-group">
        <label>Participa de programa de fidelidade:</label>
        <select class="form-control" id="models" formControlName="loyaltyProgram">
          <option value="'true'" [selected]="true"><span>Sim</span></option>
          <option value="'false'"><span>Não</span></option>
        </select>
      </div>
    </div>

    <button type="button" class="btn btn-primary mr-2" (click)="getCar()">Buscar carro</button>
  </form>

  <div *ngIf="cheaperRent">
    <h4>Carro</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="font-weight-bold">Nome</th>
          <th scope="col" class="font-weight-bold">Categoria</th>
          <th scope="col" class="font-weight-bold">Modelo</th>
          <th scope="col" class="font-weight-bold">Ano</th>
          <th scope="col" class="font-weight-bold">Fim de semana</th>
          <th scope="col" class="font-weight-bold">Fim de semana com fidelidade</th>
          <th scope="col" class="font-weight-bold">Dia de fim de semana</th>
          <th scope="col" class="font-weight-bold">Dia de fim de semana com fidelidade</th>
          <th scope="col" class="font-weight-bold">Quantidade</th>
          <th scope="col" class="font-weight-bold">Quantidade de dias</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="col" class="font-weight-normal">
            {{cheaperRent.automobileManufacturerName}}
          </th>
          <th scope="col" class="font-weight-normal">
            {{cheaperRent.automobileCategoryName}}
          </th>
          <th scope="col" class="font-weight-normal">
            {{cheaperRent.automobileModelYearName}}
          </th>
          <th scope="col" class="font-weight-normal">
            {{cheaperRent.automobileModelYearYear}}
          </th>
          <th scope="col" class="font-weight-normal">
            {{cheaperRent.weekday}}
          </th>
          <th scope="col" class="font-weight-normal">
            {{cheaperRent.weekdayLoyalty}}
          </th>
          <th scope="col" class="font-weight-normal">
            {{cheaperRent.weekendDay}}
          </th>
          <th scope="col" class="font-weight-normal">
            {{cheaperRent.weekendDayLoyalty}}
          </th>
          <th scope="col" class="font-weight-normal">
            {{cheaperRent.amount}}
          </th>
          <th scope="col" class="font-weight-normal">
            {{cheaperRent.amountOfDaily}}
          </th>
        </tr>
      </tbody>
    </table>
  </div>

</div>
