<form #createForm="ngForm">
    <div class="form-group">
        <label for="tariffs">Tarifas</label>
        <select class="form-control" id="tariffs">
            <option *ngFor="let tariff of tariffs" [value]="'tariffs'+tariff.id">{{tariff.name}}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="tariffs">Tarifas</label>
        <select class="form-control" id="tariffs">
            <option *ngFor="let tariff of tariffs" [value]="'tariffs'+tariff.id">{{tariff.name}}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="tariffs">Tarifas</label>
        <select class="form-control" id="tariffs">
            <option *ngFor="let tariff of tariffs" [value]="'tariffs'+tariff.id">{{tariff.name}}</option>
        </select>
    </div>
</form>

<div class="m-auto">
    <button type="button" class="btn btn-secondary mr-2" (click)="createForm.reset()">Limpar</button>
    <button type="button" class="btn btn-primary mr-2" (click)="save()">Salvar</button>
</div>